{% extends 'layout.html.twig' %}

{% block title %}
    Datos del Coordinador
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Guardar datos del coordinador</button>
    {{ form_end(form) }}
{% endblock %}